@model Yscp.Data.Models.ViewModels.LoginView
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="position-absolute top-50 start-50 translate-middle">
    <form method="post"  style="width: 22rem;">
        <!-- Email input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="form2Example1">Email address</label>
            <input type="email" id="form2Example1" asp-for="Email" class="form-control" />
            @Html.ValidationMessageFor(m => Model.Email,"",new {@class="text-danger"})
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="form2Example2">Password</label>
            <input type="password" id="form2Example2" asp-for="Password" class="form-control" />
            @Html.ValidationMessageFor(m => Model.Password,"",new {@class="text-danger"})
        </div>

        <!-- Submit button -->

        <input type="submit" class="btn btn-primary btn-block mb-4" />

        <!-- Register buttons -->
        <div class="text-center">
            <p>Not a member? 
            <a href="@Url.Action("Registration","Account")"><p>  -Registers-   </p></a>
        </div>
    </form>
</div>